
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index : 100;
    border-bottom: 1px solid #f9f9f9;
    /* background: red; */

}
.header__logo {
    width : 60px;
    object-fit: contain;
}

.header__icon {
    padding : 20px;
}